.clipboard-access {
    text-align: center;
    margin-top: 14rem*$fact;
    p {
        padding: 0 22% 0;
        margin-top: 2rem*$fact;
    }
    img {
        width: 56.25%;
        margin-top: 11rem*$fact;
    }
}