.ios-and-mac {
  margin-top: 16.6rem * $fact;
  text-align: center;
  p {
    padding: 0 22% 0;
    margin: 2rem * $fact 0 4.5rem * $fact;
  }
}

@media (max-width: 580px) {
  .ios-and-mac {
      padding: 0 10%;
    p {
      padding: 0;
      margin: 2rem * $fact 0 4.5rem * $fact;
    }
  }
}
