.supercharge {
  height: auto;
  text-align: center;
  margin-top: 7.4rem * $fact;
}

.tools-div {
  margin-top: 6rem * $fact;
  @include flex(center, stretch);
  flex-wrap: wrap;
}

.tool {
  margin: 2rem 1rem;
  height: 22rem * $fact;
  width: 38.7rem * $fact;
  img {
    height: 4rem * $fact;
  }
  h4 {
    margin-top: 3rem * $fact;
    margin-bottom: 2.5rem * $fact;
  }
}

.brands-div {
  margin-top: 17rem * $fact;
  @include flex(space-evenly, center);
  flex-wrap: wrap;
}

@media (max-width: 999px) {
  .brands-div {
    margin-top: 12rem * $fact;
    @include flex(space-evenly, center);
    flex-wrap: wrap;
    height: auto;
    img.brand {
      margin: 5rem * $fact 4.5rem;
    }
  }
}
