$colors: (
  strong-cyan: hsl(171, 66%, 44%),
  light-blue: hsl(233, 100%, 69%),
  dark-grayish-blue: hsl(210, 10%, 33%),
  grayish-blue: hsl(201, 11%, 66%),
);

$fact: (10/18);

@function color($color) {
  @return map-get($colors, $color);
}

@mixin flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

@mixin idealFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  &:focus {
    outline: none;
  }
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

.background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile {
  display: none;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  color: color(dark-grayish-blue);
}

p,
li {
  color: color(grayish-blue);
}
p {
  line-height: 2rem;
}

button {
  color: white;
  font-weight: 600;
  height: 5.6rem * $fact;
  width: 22.7rem * $fact;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  margin: 0 0.5rem * $fact;
  // transition: opacity 3s ease-in-out;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    transform: scale(0.92);
  }
}

@media (max-width: 790px) {
  h2 {
    font-size: 2.3rem - 0.4rem;
  }
  h3 {
    font-size: 1.8rem - 0.1rem;
  }
  h4 {
    font-size: 1.3rem - 0.1rem;
  }
}

@media (max-width: 580px) {
  button {
    height: 5.6rem * $fact;
    width: 100%;
    margin-top: 2.4rem * $fact;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    // transition: opacity 3s ease-in-out;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.92);
    }
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@import "./header";
@import "./keepTrack";
@import "./clipboard-access";
@import "./supercharge";
@import "./ios-and-mac";
@import "./footer";
